<!doctype html>
<html>
   <head>
			<script src = "https://ajax.googleapis.com/ajax/libs/angularjs/1.5.2/angular.min.js"></script>
			<title>FiLo - Review</title>
      <link rel="icon" type="image/x-icon" href="favicon.ico">
      <link rel="stylesheet" href="all.css"/>
   </head>

	 <body ng-app="filo">
		<script type="text/javascript" src="root.js"></script>
		<!-- header -->
		<script type="text/javascript" src="component/header.js"></script>
		<div ng-controller="ReviewController">

		</div>
		<script type="text/javascript" src="review.js"></script>
	</body>
</html>