<!doctype html>
<html ng-app="filo" ng-controller="rootController">
  <head>
		<script type="text/javascript" src="angular.js"></script>
		<script type="text/javascript" src="ui-router.js"></script>
		<title>FiLo - {{$state.current.title}}</title>
		<link rel="icon" type="image/x-icon" href="favicon.ico">
		<link rel="stylesheet" href="all.css"/>
  </head>
	<body>
		<div ui-view="header"></div>
		<div ui-view="content"></div>
	</body>
	<script type="text/javascript" src="root.js"></script>                          
</html>