<!doctype html>
<html>
  <head>
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.js"></script>
		<script type="text/javascript" src="ui-router.js"></script>
		<title>FiLo - Root</title>
		<link rel="icon" type="image/x-icon" href="favicon.ico">
		<link rel="stylesheet" href="all.css"/>
  </head>
	<body ng-app="filo" ng-controller="rootController">
		<div ui-view="header"></div>
		<div ui-view="content"></div>
		<div ui-view="footer"></div>
	</body>
	<script type="text/javascript" src="root.js"></script>                          
</html>